  <form name="deviceadd-form" (submit)="onSubmit()">
    <div class="ui-g">  
    <div class="ui-g-6 ui-md-4">
        <label class="ui-g" style="padding-bottom:5px;">
            <strong>Hostname:</strong>
        </label>
          <input type="text" maxlength="256" class="text-field" placeholder="device host name"
        [(ngModel)]="data.hostName" #hostName="ngModel" [ngModelOptions]="{standalone: true}" required style="width:90%;">
      </div>
      <div class="ui-g-6 ui-md-4">
        <label class="ui-g" style="padding-bottom:5px;">
            <strong>Loopback:</strong>
        </label>
          <input type="text" class="text-field" placeholder="device loopback" [(ngModel)]="data.loopBack" #loopBack="ngModel"
        [ngModelOptions]="{standalone: true}" required style="width:90%;">
      </div>
    <div  class="ui-g-6 ui-md-4">
       <button type="submit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" style="margin-top:15px;width:auto">
         <span class="ui-button-text ui-clickable">Add</span>
        </button> 
    </div>
    </div>
  </form>
