<p-dataTable [value]="data">
    <p-column *ngFor="let col of config.columns" [field]="col.field" [header]="col.header">

        <ng-template *ngIf="col.template" let-row="rowData" let-rowIndex="rowIndex" pTemplate="body">
            <ng-container *ngTemplateOutlet="col.template;context:{$implicit: row,col:col,rowIndex:rowIndex}">
            </ng-container>
        </ng-template>

    </p-column>
</p-dataTable>


<ng-template #serialNumberTemplate let-row let-col="col" let-rowIndex="rowIndex">
    <div>
        <span>
            {{rowIndex+1}}
        </span>
    </div>
</ng-template>

<ng-template #defaultTemplate let-row let-col="col" let-rowIndex="rowIndex">
    <div>
        <span>{{row[col.field]}}</span>
    </div>
</ng-template>

<ng-template #actionTemplate let-row let-col="col" let-rowIndex="rowIndex">
    <div>
        <span (click)="onActionTrigger('EDIT',row,rowIndex)">
            Edit
        </span>
        <span (click)="onActionTrigger('DELETE',row,rowIndex)">
            Delete
        </span>
        <span (click)="onActionTrigger('VIEW',row,rowIndex)">
            View
        </span>
    </div>
</ng-template>
